body {
    background-color: #e1d5e7;
}

.navbar a {
    color: rgb(0, 0, 0);
    padding:100px;
    text-decoration: none;
}

a:hover {
    color:lightgray;
}

.navbar {
    font-size: 25px;
    font-family: Comic Sans MS; 
    background-color:gray;
    padding: 10px;
    text-align: center; 
}